@model Project4.Models.Showing

<h1>Schedule a Showing</h1>
<form asp-action="SaveShowing" asp-controller="Showing" method="post">
    <div class="form-group">
        <label asp-for="Contact.Name"></label>
        <input asp-for="Contact.Name" class="form-control" placeholder="Enter Your Name" />
    </div>
    <div class="form-group">
        <label asp-for="Contact.Email"></label>
        <input asp-for="Contact.Email" class="form-control" placeholder="Enter Your Email" />
    </div>
    <div class="form-group">
        <label asp-for="Contact.WorkEmail"></label>
        <input asp-for="Contact.WorkEmail" class="form-control" placeholder="Enter Your Email" />
    </div>
    <div class="form-group">
        <label asp-for="Contact.Phone"></label>
        <input asp-for="Contact.Phone" class="form-control" placeholder="Enter Your Phone Number" />
    </div>
    <div class="form-group">
        <label asp-for="ShowingDate"></label>
        <input asp-for="ShowingDate" type="date" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Submit Showing Request</button>
</form> 