@{

}
@model Project4.Models.Home

<h1>Edit Home</h1>

<form asp-action="Edit" method="post">
	<input type="hidden" asp-for="HomeID" />

	<div class="form-group">
		<label asp-for="Address"></label>
		<input asp-for="Address.Street" class="form-control" placeholder="Street" />
		<input asp-for="Address.City" class="form-control" placeholder="City" />
		<input asp-for="Address.State" class="form-control" placeholder="State" />
		<input asp-for="Address.Zip" class="form-control" placeholder="Zip Code" />
	</div>

	<div class="form-group">
		<label asp-for="PropertyType"></label>
		<select asp-for="PropertyType" class="form-control-select">
			<option value="">Select a property Type</option>
			<option value="Condo" selected="@if(Model.PropertyType == "Condo") { <text>selected</text> }">Condo</option>
			<option value="Townhouse" selected="@if(Model.PropertyType == "Townhouse") { <text>selected</text> }">Townhouse</option>
			<option value="Single Family" selected="@if(Model.PropertyType == "SingleFamily") { <text>selected</text> }">Single Family</option>
			<option value="Multi Family" selected="@if(Model.PropertyType == "MultiFamily") { <text>selected</text> }">Multi Family</option>
		</select>
	</div>

	<div class="form-group">
		<label asp-for="Price"></label>
		<input asp-for="Price" class="form-control" />
	</div>

	<div class="form-group">
		<label asp-for="Size"></label>
		<input asp-for="Size" class="form-control" />
	</div>

	<div class="form-group">
		<label asp-for="Bedrooms"></label>
		<input asp-for="Bedrooms" class="form-control"/>
	</div>

	<div class="form-group">
		<label asp-for="Bathrooms"></label>
		<input asp-for="Bathrooms" class="form-control" />
	</div>

	<div class="form-group">
		<label>Amenities</label>

	</div>

	<button type="submit" class="btn btn-primary">Save Changes</button>
</form>