@{
    ViewData["Title"] = "Send Email";
}

<div class="container text-center mt-5">
    <form asp-controller="Home" asp-action="SendEmail" method="post">
        <button type="submit" class="btn btn-primary" style="width: 200px; height: 50px;">Send Email</button>
    </form>
</div>
